# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# SAS binary files
*.sas7bdat
*.sas7bndx
*.sas7bcat
*.sas7bvew
*.xport

# Temporary files
~$*.*

# Sublime files
*.sublime*

# Zip files
*.zip

# Scratch files
scratch.*

# R logs
script.log
session.log

# OS files
*.lnk

data/processed/psDeidentified\.csv
